body{
    margin: 0;
    background-image: url(./fundal\ site3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

    min-height: 100vh;
    
}

#navbar{
    background-image: url(./navbar.png);
}

#background-video{
    border-radius: 30px;
    border: 10px;
    border-color: black;
}

#textbox{
    height: 85%;
}

#guidelines{
    background-image: url(./casetaabout.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;

}

#buton{
    background-color: darkblue;
}

#demp{
    text-align: center;
    padding: 50%;

}

.footer{
    background-image: url("./div.framer-u5253.png");
    background-size: cover;
}