@font-face {
    font-family: AdamWarren;
    src: url(./adamwarrenpro.ttf);
}
#navbar{
    background-image: url(./navbar.png);
}

body{
    margin: 0;
    background-image: url(./fundal\ site3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:initial;
    background-attachment: fixed;

    min-height: 100vh;
    
}

#firstbox{
    background-image: url(./textbox.png);
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    font-size: small;
}

.footer{
    background-image: url("./div.framer-u5253.png");
    background-size: cover;
}