@font-face {
    font-family: AdamWarren;
    src: url(./adamwarrenpro.ttf);
}
.navbar{
    background-image: url(./navbar.png);
}

.nav-logo{
    max-width: 150px;
}

.navigation-tab{
    color: white;
     font-family: AdamWarren;
}

body{
    margin: 0;
    background-image: url(./fundalsite3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:initial;
    background-attachment: fixed;

    min-height: 100vh;
    
}

.textbox{
    background-image: url(./textbox-horizontal.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.textbox1{
    background-image: url(./casetaabout.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}


.footer{
    background-image: url("./div.framer-u5253.png");
    background-size: cover;
    background-position: center;
}

.logo-section{
    justify-content: center;
    align-items: center;
}

.footer-img{
    max-width: 125px;
}

.footer-logo{
    max-width: 50px;
}


@media screen and (max-width: 767.98px) {
    .textbox{
        background-size: 90% 140%;
        background-position: center 40%;
        background-repeat: no-repeat;
    }
    
}