@font-face {
    font-family: AdamWarren;
    src: url(./adamwarrenpro.ttf);
}
#navbar{
    background-color:  #1F0567;
}

body{
    margin: 0;
    background-image: url(./fundal\ site3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:initial;
    background-attachment: fixed;

    min-height: 100vh;
    
}
/* 
.footer{
    background-image: url("./div.framer-u5253.png");
    background-size: cover;
} */